.body {
    background-color: #a0a0a0;
}


.page-title h1 {
    text-align: center;
}

.quiz_box {
    position: relative;
    width: 200px;
    color: white;
    background-color: brown;
    margin: 0 auto;
    margin-top: 40px;
  }
  
.quiz_box .answer_correct {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
   
  .quiz_box .answer_correct .maru {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 10px red;
  }
   
  .quiz_box .answer_incorrect {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
   
  .quiz_box .answer_incorrect .cross {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: blue;
  }
   
  .quiz_box .answer_incorrect .cross::before {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: blue;
    content: "";
  }
   
  .quiz_box .answer_result {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:brown;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
   
  .quiz_box .answer_result .answer_result_title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #a0a0a0;
    font-size: 24px;
  }
   
  .quiz_box .answer_result .answer_result_text {
    padding: 50px;
    font-size: 18px;
    font-weight: bold;
  }
   
  .quiz_box .active_answer {
    visibility: visible;
    opacity: 0.8;
  }
   
  .quiz_box .active_result {
    visibility: visible;
    opacity: 1;
  }
   
  .quiz_box .question_number {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #a0a0a0;
    font-weight: bold;
  }
   
  .quiz_box .question {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
   
  .quiz_box .answer_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    width: 400px;
  }
   
  .quiz_box .answer_box .answer {
    border: solid 1px #000000;
    width: 40%;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .quiz_box .answer_box .answer:hover {
    background-color: red;
    border: solid 1px #000000;
    width: 40%;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .characterBox {
  margin: 0 auto;
  max-width: 1200px;
  margin-right: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}


.charLine {
    color:white;
    background:grey;
    border-radius: 10px;
    font-weight: 550;
    line-height: 1;
    padding: 30px;
    position: absolute;
    width: 200px;
    min-height: 16px;
  }

  .charLineR {
    right: 230px;
    top: 50px;
  }

  .charLineR::after {
    content: '';
    position: absolute;
    border-bottom: 10px solid grey;
    border-right: 30px solid transparent;
    border-top: 25px solid transparent;
    right: -25px;
    top: -15px;
  }


  /*レスポンシブ：スマホ用*/
  @media (min-width:670px) {
    page-title h1 {
      text-align: center;
    }

    .quiz_box {
      position: relative;
      width: 300px;
      color: white;
      background-color: brown;
      margin: 0 auto;
      margin-top: 40px;
    }
    
  .quiz_box .answer_correct {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }
     
    .quiz_box .answer_correct .maru {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: solid 10px red;
    }
     
    .quiz_box .answer_incorrect {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #e1e1e1;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }
     
    .quiz_box .answer_incorrect .cross {
      position: relative;
      width: 100px;
      height: 10px;
      background-color: blue;
    }
     
    .quiz_box .answer_incorrect .cross::before {
      position: absolute;
      width: 100px;
      height: 10px;
      background-color: blue;
      content: "";
    }
     
    .quiz_box .answer_result {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color:brown;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }
     
    .quiz_box .answer_result .answer_result_title {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #a0a0a0;
      font-size: 24px;
    }
     
    .quiz_box .answer_result .answer_result_text {
      padding: 50px;
      font-size: 18px;
      font-weight: bold;
    }
     
    .quiz_box .active_answer {
      visibility: visible;
      opacity: 0.8;
    }
     
    .quiz_box .active_result {
      visibility: visible;
      opacity: 1;
    }
     
    .quiz_box .question_number {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #a0a0a0;
      font-weight: bold;
    }
     
    .quiz_box .question {
      text-align: center;
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 15px;
    }
     
    .quiz_box .answer_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 40px;
      width: 400px;
    }
     
    .quiz_box .answer_box .answer {
      border: solid 1px #000000;
      width: 40%;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
      padding: 10px;
      cursor: pointer;
    }
  
    .quiz_box .answer_box .answer:hover {
      background-color: red;
      border: solid 1px #000000;
      width: 40%;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
      padding: 10px;
      cursor: pointer;
    }
  
    .characterBox {
    margin: 0 auto;
    max-width: 50px;
    margin-right: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
  
   .charLine {
      color:white;
      background:grey;
      border-radius: 10px;
      font-weight: 550;
      line-height: 1;
      padding: 30px;
      position: absolute;
      width: 50px;
      min-height: 16px;
    }
  
    .charLineR {
      right: 100px;
      top: 50px;
    }
  
    .charLineR::after {
      content: '';
      position: absolute;
      border-bottom: 10px solid grey;
      border-right: 30px solid transparent;
      border-top: 25px solid transparent;
      right: -25px;
      top: -15px;
    }
  }
